<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <ion-badge color="danger" slot="end">{{cartItemCount | async}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="custom-background">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let category of categories">
          <ion-card [routerLink]="category.route">
            <img [src]="category.Image" />
            <ion-card-header>
              <ion-card-title>{{ category.title }}</ion-card-title>
              <p class="availability-status" [ngClass]="{ 'closed': category.time === 'Closed' }">
                {{ category.time }}
              </p>
    <ion-button *ngIf="category.time === 'Open'" (click)="navigateToCategory(category.route)">
      View Details
    </ion-button>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
